 .keypeople{
 margin-top:20px;
 margin-left: 10px;
	}
	
.card .card-content{
	font-size: 16px;
	text-align: center;
	padding: 15px 0px;
	}
	
.rowcontainer{
	
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width : 601px) {
	.card .card-content{
		padding: 6px 0px;
		font-size: 12px;
	}
}