.keypeople{
	margin-top:20px;
	margin-left: 10px;
}
.founder{
	font-size: 19px
}

.card .card-content{
	font-size: 16px;
	text-align: center;
	padding: 15px 0px;
}

.notthisone{
	text-align: left !important;
	padding-left: 20px !important;
}

.vertialign{
	vertical-align: top;
	line-height: 1.2em;
	margin-top: 7px;
}
.vertialign i{
	margin-right: 5px;
}
@media only screen and (max-width : 601px) {
	.card .card-content{
		padding: 6px 0px;
		font-size: 12px;
	}
}