nav ul a,
nav .brand-logo {
  color: #FFF;
  vertical-align: middle;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo1{
  width: 100px;
  height: 90px;
}

nav{
  background-color: grey;
}
.container{
  width: 80% !important;
}
.nav-wrapper ul li{
  height: inherit;
}


@media only screen and (min-width: 601px){
  nav{
    height: 80px;
  }  
}

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 80px; }
  .navbar-fixed {
    height: 80px; } }
