nav ul a,
nav .brand-logo {
  color: #FFF;
  vertical-align: middle;
  z-index: 3;
}
.hello ul li{
  
  max-height: 400px
}

body{
  background: url(../media/bg.png);
  background-repeat: repeat;
}

.container{
  width: 80%
}

.modal-course.modal-content{
  padding: 0px;
  margin-top: -10px
}

.modal-header{
  padding: 20px 20px 10px 30px;
  background-color: grey;
  color: white;
}

.left{
  width: 350px;
  height: 445px;
  top: 15%;
  left: 3%;
  border-radius: 10px;
  padding: 5px 2px 10px 2px;
  z-index: 25;
  position: absolute;
  background: grey;
  opacity: .95;
  color: white;
}

.card-titl{
  background-color: grey;
  color: white;
  padding: 20px 20px 10px 20px;
}

.thiscard{
  background-color: white;
  color: #040404 !important;
}

p {
  line-height: 1.4rem;
}

.listitem{
  vertical-align: top !important;
  padding: 10px;
  margin-top: 15px;
}

.submeet{
  margin: 10px 30px 30px 0px !important;
  vertical-align: top;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.slider .slides li.active{
	z-index: 1;
	height: 500px;
	
}

.btn{
	background-color:#707978;
}

.caption,.caption h3, .caption h5{
  text-shadow: 1px 1px black;
  font-size: 10px;
}
.caption{
  width: 300px;
}

.slider .slides li .caption {
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  left: 60%;
}

.add{
	position: fixed;
	bottom: 9%;
	right: 6%;
	z-index: 11;
}

.modal-btn{
	position: fixed;
	bottom: 5%;
	right: 10%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo1{
  width: 100px;
  height: 90px;
}

nav{
  background-color: grey;
}

.dropdown-content {
  min-width: 200px;
  overflow: hidden;
}

.headername{
    position: relative;
    bottom: 50px;
}

.modal-btn-course{
	position: relative;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .caption,.caption h3, .caption h5{
    text-shadow: 1px 1px black;
    font-size: 18px;
  }

}

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 80px; 
  }
  .navbar-fixed {
    height: 80px; 
  }
  .caption,.caption h3, .caption h5{
    text-shadow: 1px 1px black;
    font-size: 18px;
  }
  
}



@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .caption,.caption h3, .caption h5{
    text-shadow: 1px 1px black;
    font-size: 12px;
  }
  .logo1{
    visibility: hidden;
  }
  .headername{
    bottom: 67px;
    font-size:23px;
    right: 25%
  }
  .button-collapse{
    color: white;
    right: 11%;
    position: absolute;
  }
}
