	.submeet{
		vertical-align: top !important;
	}
	.container{
		width: 80% !important;
		padding: 0px 0px 30px 0px;

	}
	.container h4{
		text-align: center;
		padding-bottom: 20px;
	}
	.pagination-div{
		padding: 5px 0px 45px 0px;
		border-bottom:1px solid black;
	}
	#img_form{
		padding-left: 50px !important;
	}
	.file-path-wrapper{
		overflow: hidden;
		padding-left: 10px;
	}
	.file-path{
		width: 80% !important
	}
	input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #fff;
   }

  label{
    color:#fff !important;
  }
  .input-field .prefix.active {
      color: #fff; }

  input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom-color:#fff !important  }   
	@media screen and (max-width: 600px){
		#img_form{
			padding-left: 30px !important;
		}	
		.container{
			width: 100% !important;
			margin-left: 5px;
		}
	}
